html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow:hidden;
	font-family: 'Inconsolata', monospace;
}

body {
	background: #000;
}

#header {
    height: 45px;
    width: 100%;
    overflow: hidden;
    line-height: 45px;
    font-size: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    position: relative;
}

#header::after {
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0px;
    width: 100%;
	box-shadow: 0px 1px 3px 2px #9090e8;
}

#holder {
	width:100%;
	height:calc(100vh - 50px);
	margin:0;
	padding:5px;
	box-sizing: border-box;
}

#canvas-wrap,
#manuscript {
	float:right;
	margin:0;
	padding:0;
	box-sizing: border-box;
	height:100%;
}

#canvas-wrap {
	width:60%;
	background:green;
}

#manuscript {
	width:40%;
	background-image: url("./images/beige-paper.png");
	background-color: beige;
}

#manuscript textarea {
	margin:0;
	padding:0;
	border:none;
	outline:none;
	background:none;
	background-image:none;
	background-color:transparent;
	height:100%;
	width:100%;
	padding:10px 20px;
	box-sizing: border-box;
	line-height: 1.2;
}